<h2><%=@player.name%> #<%=@player.number%></h2>

<h4>Team: <a href="/teams/<%=@player.team.id%>"><%=@player.team.name%></a></h4>
<h4>Position: <%if !@player.position.nil?%>
  <%=@player.position.name%><%end%></h4>

<a class="button" href="/player/<%=@player.id%>/edit">Edit Player</a>
<a class="button" href="/player/<%=@player.id%>/delete">Delete Player</a>
<a class="button" href="/player/new">Create a New Player</a>