<h1><%=@team.name%></h1>
<ul>
  <% @team.players.each do |player| %>
  <li><a href="/player/<%=player.id%>"><%= player.name %></a> #<%= player.number %></li>
  <% end %>
</ul>

<%if @team.formation.nil?%>
<a class="button" href="/formation/new">Create Formation</a>
<%else%>
<a class="button" href="/formation/<%=@team.formation.id%>">View Formation</a>
<%end%>

<a class="button" href="/player/new">Add Players</a>

<a href="/teams/<%=@team.id%>/edit">Edit Team</a>

