<h1><%=@team.name%></h1>
<ul>
  <% @team.players.each do |player| %>
  <li><a href="/player/<%=player.id%>"><%= player.name %></a> #<%= player.number %></li>
  <% end %>
</ul>

<%if @team.formation.nil? && @team.players.count > 11%>
<a class="button" href="/formation/new">Create Formation</a>
<%elsif !@team.formation.nil?
  %>
  <a class="button" href="/formation/<%=@team.formation.id%>">View Formation</a>
<%else%>
<%end%>

<a class="button" href="/player/new">Add Players</a>

<a class="button" href="/teams/<%=@team.id%>/edit">Edit Team</a>

