<h1>Create your <%=@formation.name%> formation</h1>
<form method="post" action="/formation/<%=@formation.id%>">

  <% @formation.positions.each do |position| %>
  <label><%= position.name %>:</label>
  <select name="<%=position.name%>">
    <option></option>
    <% @players.each do |player|%>

    <option name="player" value="<%=player.name%>"> <%= player.name %></option>
    <% end %>
  </select><br></br>

  <%end%>


  <input type="submit" value="save">

</form>

