
<h1>Edit your <%=@formation.name%> formation</h1>
<form method="post" action="/formation/<%=@formation.id%>">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <% @formation.positions.each do |position| %>
  <label><%= position.name %>:</label>
    <select name="positions[<%=position.name%>]">
      <option></option>
      <% @players.each do |player|%>

        <% if position.player == player%>
          <option name="positions[player]" value="<%=player.name%>" selected> <%= player.name %></option>
        <% else %>
          <option name="positions[player]" value="<%=player.name%>"> <%= player.name %></option>
        <% end %>
      <% end %>
    </select><br></br>

  <%end%>

  <input type="submit" value="save">

</form>

<br></br>

<p><a class="button" href="/formation/new">New Formation</a> Warning!! Creating a new formation will delete your current formation.</p>
