<h2><%=@formation.name%> Formation</h2>
  <% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
  <% end %>

  <div class="wrapper">

  <% @formation.positions.each do |position| %>
    <% if position.player.nil?%>

      <h4 class="<%=position.name.downcase%>"><%= position.name%>: </h4>

    <% else %>

      <h4 class="<%=position.name.downcase%>"><%= position.name%>: <a  href="/player/<%=position.player.id%>"><%= position.player.name%></a></h4>

     <% end %>
  <%end%>


   </div>

<a class="button" href="/formation/<%=@formation.id%>/edit">Edit Formation</a>


