<h2><%=@formation.name%> Formation</h2>


  <% @formation.positions.each do |position| %>
    <% if position.player.nil?%>
      <h4><%= position.name%>: </h4>
    <% else %>
      <h4><%= position.name%>: <a href="/player/<%=position.player.id%>"><%= position.player.name%></a></h4>
     <% end %>
  <%end%>

<a href="/formation/<%=@formation.id%>/edit">Edit Formation</a>

