<h1><%=@formation.name%> formation</h1>
<form method="post" action="/formation/<%=@formation.id%>">

  <% @formation.positions.each do |position| %>
    <% if position.player.nil?%>
      <label><%= position.name%>: </label><input type="text" name="positions[]" > <br></br>
    <% else %>
      <label><%= position.name%>: </label><input type="text" name="positions[]" value="<%= position.player.name%>"> <br></br>
    <% end %>

  <%end%>


  <input type="submit" value="save">

</form>